.myForm {

    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.formComponent {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: flex-start;
}

.btnSubmit {
    border: solid;
    padding: 5px;
    color: #8338EC;
    font-weight: 650;
    border: none;
}